body {
    background-color: #F7D4EB;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Montserrat', sans-serif !important;
}
#h1 {
     font-family: 'Montserrat', sans-serif;
     
 
}
.container {
    background-color: #FFFAF0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 10px;
    
}

.prompt-box {
    margin-bottom: 20px;
}

.prompt-label {
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 5000;
}

.prompt-textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
<<<<<<< HEAD
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
=======
    font-weight: bold;
>>>>>>> 21ff77e3ee6d8a30831baf3105029c6ce57bcd85
}

.button-container {
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FF84C7;
    color: #FFF;
    font-size: 18px;
    border: none;
    border-radius: 65px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #FF64A6;
}

.output-box {
    text-align: left;
}

.output-textarea {
    width: 100%;
    resize: none;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 4px;
    font-weight: bold;
}
