<!DOCTYPE html>
<html>

<head>
    <title>Culinary_Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/styles.css">
</head>

<body>
    <div class="container">
        <h1>Culinary Demo<h1>
        <div class="prompt-box">
            <div class="prompt-label">How would you make a delicious taco?</div>
            <textarea id="prompt" class="prompt-textarea"></textarea>
        </div>
        <div class="button-container">
            <button class="button" onclick="getResponse()">Record audio</button>
        </div>
        <div class="output-box">
            <div id="response" class="output-textarea"></div>
        </div>
    </div>

    <script>
        function getResponse() {


            $.ajax({
                url: '/get-response',
                type: 'POST',
                contentType: 'application/json',

                success: function (response) {
                    document.getElementById('response').innerHTML = response["response_text"];
                    document.getElementById('prompt').innerHTML = response["user_input"];
                    console.log(response)
                },
                error: function (response) {
                    console.log("There was an error!");
                    console.log(response);
                }
            });
        }

    </script>
</body>

</html>
